.encabezado {
    margin-top: 25px;
}

.titulo {
    height: 30px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: normal;
    padding-left: 8px;
    padding-top: 3px;
    border-left-style: solid;
    border-left-color: green;
    border-left-width: 5px;
}

.encabezados, .contenido {
    text-align: center;
}

#btn_buscar {
    position: relative;
    top: 25px;
}
