img {
    width: 100%;
}

.etiqueta {
    font-size: small;
    vertical-align: center;
}

.h-row {
    height: 25%;
}

.h-row-20 {
    height: 20%;
}

.h-row-40 {
    max-height: 30%;
    height: 30%;
}

.h-row-55 {
    height: 80%;
}

.h-row-100 {
    max-height: 100%;
    height: 100%;
}

.bg-pink {
    background: pink
}

.border-pink {
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: pink
}

.border-brown {
    border: 1.3px;
    border-style: dashed;
    border-radius: 5px;
    border-color: brown
}

.border-red {
    border: 1px;
    border-style: dashed;
    border-color: red
}

div.rosa strong {
    font-size: 15px;
}

.text-bold {
    font-size: 14px;
    font-weight: bold;
}

.text-brown {
    color: brown;
    font-size: 14px;
    font-weight: bold
}
